/**
*CSS file for scatterplot
*
* Rosa brakee
**/

/*the body of the plot*/

body {
  margin: 0;
  font-family: arial, sans;
}

.label {
  font-size: 15px;
}

/*the legend*/
.legend{
  opacity: 1;
  transition: opacity 0.3s;
}

.legend text,
.axis text {
  font-size: 13px;
  fill: #333;
}

.axis path,
.axis line {
  fill: none;
  stroke-width:1px;
  stroke: #e7e7e7;
}

circle {
  stroke: #fff;
}

/*the bubble*/
.bubble {
  opacity: 1;
  transition: opacity 0.3s;
}

/*the bubble text and color on hover event*/
.bubble text {
  opacity: 0;
  pointer-events: none;
  font-size: 12px;
}

.bubble:hover text {
  opacity: 1;
}

.bubble:hover circle {
  fill-opacity: 1;
}
